@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

* {
	font-family: 'Josefin Sans', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
}

.jumbotron{
	color:white;
}
.text-white{
	color:white;
}

.link-yellow {
	color: #F2D454;
}

.link-yellow:hover{
	color: yellow;
}

.background-white{
	background-color: white;
}
.background-grey{
	background-color:  #6C6D70;
	color: #000000;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: none;
	text-shadow: 2px 0px 3px rgba(242, 212, 84, 1),
	-2px 0px 3px rgba(242, 212, 84, 1),
	0px 2px 3px rgba(242, 212, 84, 1),
	0px -2px 3px rgba(242, 212, 84, 1);
}
.nav>li>a:active{
	background-color: none;
}
#current{
	text-shadow: 2px 0px 3px rgba(242, 212, 84, 1),
	-2px 0px 3px rgba(242, 212, 84, 1),
	0px 2px 3px rgba(242, 212, 84, 1),
	0px -2px 3px rgba(242, 212, 84, 1);
}
h1{
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: solid #F2D454;
}
h4 {
    font-size: 1.2em;
}
h5{
	padding: 1em;
    font-size: 140%;
}
#errorAlert, #errorInternalAlert, #fileErrorAlert, #successAlert {
  display: none;
}

#mission-statement {
  font-style: italic;
  font-size: 145%;
}
.slide1{
  background-image: url(../images/business_casual_group.png);
  height: 73vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url(../images/background-image2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url(../images/background-image.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption{
  display: block;
  vertical-align: middle;
  padding-bottom: 38vh;
}
.banner-img {
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

p{
	font-size: x-large;
}
p.centered {
  text-align: center;
}
.site-footer{
	position: absolute;
	background-color: black;
	color: white;
	border-style: solid;
	border-top: thick #6C6D70;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding-bottom: 10px;
	width: 100%;
	bottom: 0px;
}
.bottom-footer{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.footer-nav{
	text-align: right;
	list-style: none;
}
.footer-nav li{
	display: inline;
}
.footer-nav li:not(:first-child):before{
	content: '|';
	padding: 0px 10px;
}
.footer-nav a{
	color: white;
}
.left-content{
	border-right: 1px solid #000;
}
.left-section{
	padding-right: 1em;
	padding-top: 20px;
}
.right-section{
	padding-top: 20px;
}
.profile-pictures{
	height:85%;
	width:85%;
  /*filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); */
	margin: 4.5% 0 4.5% 7.5%;
}
.headshot{
	width:75%;
	height:75%;
	margin:auto;
	display:block;
	object-fit: contain;
}
.headshot2{
	width:100%;
	height:100%;
	margin:auto;
	display:block;
	object-fit: contain;
	border: 1px solid white;
}
.headshot2:hover{
	border: 5px solid #F2D454;
}

.help-block {
	font-size: 120%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-yellow, .btn-yellow:disabled,
.btn-yellow[disabled]:hover {
	border-color: #F2D454;
	background-color: #F2D454;
	color: white;
}

.btn-yellow:hover {
	border-color: #FFE252;
	background-color: #FFE252;
}

.right-align {
	position: relative;
	float: right;
}

.sponsor-citation {
	font-size: small;
	padding-right: 5px;
	/*padding-top: 1%;*/
}

#custom-nav {
	color: white;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 5px solid transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
}
#custom-nav .container {
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}
#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: black;
    opacity: 0.8;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav.affix #branding{
    visibility: visible;
}
#custom-nav #branding{
	visibility: visible;
}
#custom-nav2{
	background-color: rgba(0,0,0,0.8);
	border: none;
}
#about-dropdown{
	background-color: rgba(0,0,0,0.8);
	border: none;
}
.navbar-default .navbar-toggle{
    background-color: transparent;
    width: 3.0em;
    height: 100%;
}
.navbutton {
    width: 1.5em;
    height: 1.5em;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-drop > li > a {
  color: #ffffff;
}
.navbar-default .navbar-drop > li > a:hover, .navbar-default .navbar-drop > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-drop > .active > a, .navbar-default .navbar-drop > .active > a:hover, .navbar-default .navbar-drop > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-drop > .open > a, .navbar-default .navbar-drop > .open > a:hover, .navbar-default .navbar-drop > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 480px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
 .left-content{
	border-right: none;
 }
 .profile-pictures{
	margin-bottom:0;
 }
}
.brand{
   max-height: 50%;
   height: 50%;
   width: auto;
   margin-top: 0 auto;
}
form label {
    font-family: 'Josefin Sans', sans-serif;
}

.container-fluid {
  padding-top: 10px;
}

.spacing {
  padding-top: 10px;
}

nav div {
  padding-top: 0px;
}

footer div {
  padding-top: 0px;
}