@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

* {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
}

body {
	background-color: #231F20; /*Shade of black from the website */
	color: #231F20;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #231F20;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
	border-bottom-color: #F2D454; /*Yellow color that matches the sparkstone logo color */
}
h1 {
	font-family: 'Josefin Sans';
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	border-bottom-color: #F2D454; 
	border-bottom-style: solid;
	margin: 15px;
	padding-bottom: 10px;
}
h3 {
	font-family: 'Josefin Sans';
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
}
p {
	font-family: 'Josefin Sans';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 20px;
}
blockquote {
	font-family: 'Josefin Sans';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Josefin Sans';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
#banner{
	height: 500px;
	background-color: #231F20;
	margin: 0px;
	overflow: hidden; 
}
/*#wrapper{
	width: 50%;
	height: 50%;
	background-color: #231F20;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/
#container{
	position: absolute;
	top: 37%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	background-color: #231F20;
	margin: 0 auto;
}
#main1{
	height: 300px;
	background-color: white;
	padding:8%;
	margin: 0px;
}
#main2{
	height: 300px;
	background-color: #6C6D70; /*GREY COLOR HERE*/
	padding:8%;
	margin: 0px;
}
#main3{
	height: 300px;
	background-color: white;
	padding:8%;
	margin: 0px;
}
#main4{
	height: 300px;
	background-color: #6C6D70; /*GREY COLOR HERE*/
	padding:8%;
	margin: 0px;
}
#main5{
	height: 1050px;
	background-color: white;
	padding:8%;
	margin: 0px;
}

.banner-img {
    width: 600px;
	height: 175px;
	max-width: 100%;
	max-height: 100%;
	
}
#navigation{
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	border-color: #6C6D70;
	border-bottom-style: solid;
	border-left: none;
	border-right: none;
	position:fixed;	
	z-index: 9999;
}
li.center{
	float:right;
	text-align: center;
	margin-right: 100px;
	padding: 10px 10px;
	
}

