<div class ="whitemain">
	<h1> Email-us </h1>
		<div id= "form">
			<form>
				<form action="#">
				  <fieldset>
					<legend>Contact us:</legend>
					First name:<br>
					<input type="text" name="firstname" value="firstname">
					<br>
					Last name:<br>
					<input type="text" name="lastname" value="lastname">
					<br><br>
					Email:<br>
					<input type="text" name="email" value="@cornell.edu">
					<br><br>
					Message?:<br>
					<input type="text" name="year" value="Put message here">
					<br><br>
					<input type="submit" value="Submit">
				  </fieldset>
				</form>
			</form>
		</div>
		
</div>
