<!--Who we are/about us section-->
<div class= "whitemain">
	<h1> Assets under management </h1>
		<p> Nothing yet? </p>
</div> <!--Main1-->

<!-- Our Philosophy section-->
<div class = "greymain">
	<h1> Strategy Outline: </h1>
		<p>Short sell on everything. </p>
		
</div><!--main2-->

<!--Why We're unique section-->
<div class = "whitemain">
	<h1> Performance measure:</h1>
	<p> INSERT LIST HERE </p>
</div><!--main3-->

<!--Our history section-->
<div class = "greymain">
	<h1> Risk Measure/Exposure: </h1>
		<p>INSERT STUFF HERE </p>
</div> <!--main4-->

<div class = "whitemain">
	<h1> Corporate Governance:</h1>
	<p> INSERT LIST HERE </p>
</div><!--main3-->
